.resultBackground{
    display: flex;
    width: 100%;
    align-items: left;
}

#resultTitle{
    display: flex;
    align-items: left;
    height: 70%;
    font-size: 100%;
    font-weight: 475;
    color: rgb(246, 246, 246);
    margin-top: 3%;
    border-bottom: 3px solid white;
    padding: 0;

}