.search-Input{
    background-color:  #000000;
    opacity: 0.8;
    display: flex;
    align-items:center;
    width: 100%;
    height: 2.5rem;
    border-radius: 10px;
    padding: 0 16px;
    box-shadow: 0px 0px 8px rgb(138, 3, 162);
    background: linear-gradient(135deg, #33333355 25%, transparent 25%) -10px 0/ 20px 20px, 
    linear-gradient(225deg, #333333 25%, transparent 25%) -10px 0/ 20px 20px, 
    linear-gradient(315deg, #33333355 25%, transparent 25%) 0px 0/ 20px 20px, 
    linear-gradient(45deg, #333333 25%, #000000 25%) 0px 0/ 20px 20px;
}

input{
    background-color: transparent;
    border: none;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

input:focus{
    outline: none;
}

::placeholder{
    color: rgb(255, 255, 255);
}